body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: white;
}

canvas {
    border: 2px solid rgb(135, 222, 150);
    background-color:red
}